body {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #40433C;
}

.rounded {
	border-radius: 0.75rem;
  position: relative;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

.section-header {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  color: #40433C;
  padding-top: 1rem;
}

img.card-image-icon {
  max-height: 300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#logo {
	width: 100%;
}

.bg-light {
	background-color: #F5F5F5;
}

.bg-dark {
	background-color: #949189;
}

.bg-green {
	background-color: #B2BD7B;
}

.header {
	clear: both;
}

p {
  font-size: 140%;
  clear: right;
  padding-bottom: 20px;
}
footer p {
  text-align: center;
}

ul {
  font-size: 140%;
  clear: right;
  padding-bottom: 20px;
}

ul.arrow > li::before {
  content: "»";
  padding-inline: 1ch;
  margin-inline-end: 1ch;
}

ul.footer-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul.footer-icons::before, ul.footer-icons::after {
  border-top: 1px solid #949189;
  content: "";
  top: 50%;
  width: 100%;
  right: 0;
}
ul.footer-icons > li {
  display: inline;
  padding: 1rem;
}

strong {
	color: #B2BD7B;
}

a, a:hover {
	color: #949189;
  text-decoration:underline;
}

a.icon-link, a.icon-link:hover {
  text-decoration:none;
}

.button.button-primary {
	color: #FFF;
	border-color: #40433C;
  background-color: #40433C;
}
.button.button-primary:hover {
	color: #FFF;
	border-color: #B2BD7B;
  background-color: #B2BD7B;
}
.button.button-primary:focus {
	color: #FFF;
	border-color: #949189;
  background-color: #949189;
}
